name: Build and Push Docker Image

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          submodules: false

      - name: Login to Docker Hub
        run: |
          echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin

      - name: Build Docker Image
        run: |
          docker build -t $DOCKER_USERNAME/escola-conecta-saber:latest \
            --build-arg MONGO_URI="${{ secrets.DATABASE_URL }}" \
            --build-arg JWT_SECRET="${{ secrets.JWT_SECRET }}" \
            .

      - name: Push Docker Image
        run: |
          docker push $DOCKER_USERNAME/escola-conecta-saber:latest
 